<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>XWP</title>
		<link rel="stylesheet" href="/home/wpeng/Ubuntu One/mycode/xwp2/templates/style.css" type="text/css" media="screen" />
	</head>

	<body>
		<div id="header">
			<div class="floatleft">
				<a href="/">XWP</a>
			</div>
			<div class="floatright">
				<a href="/admin">admin</a>
				<a href="/login">login</a>
			</div>

			<div class="clear"></div>
		</div>

		<div id="sidebar">
			<div id="comments">
				<h2 class="heading">Recent comments</h2>
				<ul>
					<li>recent comment 1</li>
					<li>recent comment 2</li>
					<li>recent comment 3</li>
				</ul>
			</div>
			<div id="categorys">
				<h2 class="heading">Categorys</h2>
				<ul>
					<li>category 1</li>
					<li>category 2</li>
					<li>category 3</li>
				</ul>
			</div>
			<div id="blogroll">
				<h2 class="heading">Blog roll</h2>
				<ul>
					<li>blog roll 1</li>
					<li>blog roll 2</li>
					<li>blog roll 3</li>
				</ul>
			</div>
		</div>

		<div id="content">
			<!--for xx in content loop here.-->
			<div class="post">
				<div class="post-title">
					<h2>
						<a href="#" title="permanent link to blog 2">blog 2</a>
						<span class="date">2012.6.18</span>
					</h2>
				</div>
									
				<div class="post-body">
					<p>
						pppppppppppppp1
					</p>
					<p>
						pppppppppppppp2
					</p>
					<p>
						pppppppppppppp3
					</p>
				</div>
				
				<div class="post-footer">
					<p>
						posted in 
						<a href="#">category 1</a> |
						
						<a href="#">comments(0)</a>
					</p>
				</div>
			</div>

			<!--another post-->
			<div class="post">
				<div class="post-title">
					<h2>
						<a href="#" title="permanent link to blog 1">blog 1</a>
						<span class="date">2012.6.18</span>
					</h2>
				</div>
									
				<div class="post-body">
					<p>
						pppppppppppppp1
					</p>
					<p>
						pppppppppppppp2
					</p>
					<p>
						pppppppppppppp3
					</p>
				</div>
				
				<div class="post-footer">
					<p>
						posted in 
						<a href="#">category 1</a> |
						
						<a href="#">comments(0)</a>
					</p>
				</div>
			</div>

			<!--...-->
			<!--...-->
			<!--...-->

		</div>
		<div id="content-footer" class="box">
			<!--<div id="pagenumber">-->
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
			<!--</div>-->
		</div>

		<div class="clear"></div>
		<div id="footer">
			<p>This is the xwp footer</p>
		</div>

	</body>
</html>
