<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>blog 1</title>
		<link rel="stylesheet" href="/home/wpeng/Ubuntu One/mycode/xwp2/templates/style.css" type="text/css" media="screen" />
	</head>

	<body>
		<div id="header">
			<div class="floatleft">
				<a href="/">XWP</a>
			</div>
			<div class="floatright">
				<a href="/admin">admin</a>
				<a href="/login">login</a>
			</div>

			<div class="clear"></div>
		</div>

		<div id="sidebar">
			<div id="comments">
				<h2 class="heading">Recent comments</h2>
				<ul>
					<li>recent comment 1</li>
					<li>recent comment 2</li>
					<li>recent comment 3</li>
				</ul>
			</div>
			<div id="categorys">
				<h2 class="heading">Categorys</h2>
				<ul>
					<li>category 1</li>
					<li>category 2</li>
					<li>category 3</li>
				</ul>
			</div>
			<div id="blogroll">
				<h2 class="heading">Blog roll</h2>
				<ul>
					<li>blog roll 1</li>
					<li>blog roll 2</li>
					<li>blog roll 3</li>
				</ul>
			</div>
		</div>

		<div class="post">
			<div class="post-title">
				<h2>
					<a href="#" title="permanent link to blog 2">blog 2</a>
					<span class="date">2012.6.18</span>
				</h2>
			</div>
								
			<div class="post-body">
				<p style="word-break:break-all; width:80%">
					full content ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp1
				</p>
				<p>
					pppppppppppppp2
					sdfsfddddddsffsfd
					sdfsfdsdfsfdsdfsfd
				</p>
				<p>
					pppppppppppppp3
				</p>
			</div>
			
			<div class="post-footer">
				<p>
					posted in 
					<a href="#">category 1</a> |
					
					<a href="#">comments(0)</a>
				</p>
			</div>
		</div>

		<div id="comments" class="box">
			<p>2 response To blog title</p>
			<hr />
			<div class="comment">
				<img style="float:left;" height="50" width="50" src="http://www.gravatar.com/avatar/21db791962668224fa73539b47816c07?s=50&r=G&d=http%3A%2F%2Flocalhost%3A8080%2Fstatic%2Fimages%2Fhomsar.jpeg" alt="author_name" ></img>
				<a href="#">author_name</a> posted on  
				<span class="date">2012.6.18</span>
				<p>comment text</p>

				<div class="clear"></div>
			</div>
			
			<div class="comment">
				<img style="float:left;" height="50" width="50" src="http://www.gravatar.com/avatar/21db791962668224fa73539b47816c07?s=50&r=G&d=http%3A%2F%2Flocalhost%3A8080%2Fstatic%2Fimages%2Fhomsar.jpeg" alt="author_name" ></img>
				<a href="#">author_name</a> posted on  
				<span class="date">2012.6.18</span>
				<p>comment text</p>
				<div class="clear"></div>
			</div>

			<div id="comment-input">
				<p>leave a reply</p>
				<hr />

				<form action="/post/1" method="post">
					<p>
						<input type="text" name="author" id="author" value="{{user_name}}" size="22" tabindex="1" />
						<label for="author">Name <span style="color:red">(*)</span></label>
					</p>

					<p>
						<input type="text" name="email" id="email" value="{{user_email}}" size="22" tabindex="2" />
						<label for="email">Mail(will not be published) <span style="color:red">(*)</span></label>
					</p>

					<p>
						<input type="text" name="url" id="url" value="{{user_url}}" size="22" tabindex="3" />
						<label for="url">Website</label>
					</p>

					<p>
						<input type="checkbox" name="reply_notify_mail" id="reply_notify_mail" checked="checked" size="45" tabindex="4" />
						<label for="reply_notify_mail">Send me reply notify mail</label>
					</p>
					<p>
						<textarea name="comment" id="comment" cols="70%" rows="10" tabindex="4"></textarea>
					</p>

					<p>
						<input name="submit" type="submit"  id="submit" tabindex="5" value="Submit Comment" />
					</p>
				</form>
			</div>
		</div>

		<div class="clear"></div>
		<div id="footer">
			<p>This is the xwp footer</p>
		</div>
	</body>
</html>
