$def with(post_id, i, msg)

$if post_id:
	$ entry = model.get_post(post_id)
	$ checked_categories = model.get_post_categories(post_id) 
	$if entry:
		$ title = entry.title
		$ content = entry.content
		$ slug = entry.slug
		$ categories = model.get_all_categories()
		$# tag = entry.tag
$elif i:
	$ title = i.title
	$ content = i.content
	$ slug = i.slug
	$ checked_categories = i.categories
	$# tag = i.tag

$else:
	$ title = '' 
	$ content = ''
	$ slug = ''
	$ checked_categories = [] 
	$# tag = ''

<div id="post-stuff">
$if post_id: <form action="/admin/edit-post" method="post">
$else:	<form action="/admin/new-post" method="post">

		<h1>$msg</h1>
		<h1>write post</h1>
		
		<div id="post-body">
		<div id="title-div" class="stuffbox">
			<h2 class="heading">title</h2>
			<input type="text" id="title" tabindex="1" size="52" name="title" value="$title">
		</div>

		<div id="editor-div" class="stuffbox">
			<div id="editor-div-header" class="heading">
				<h2>post</h2>
				
				<div id="editor-html">
					<h2>html</h2>
				</div>
				<div id="editor-visual">
					<h2>visual</h2>
				</div>

				<div class="clear"></div>
			</div>

			<textarea style="width:99.7%; border:0em;" cols="40" rows="15" id="content" tabindex="2" name="content" >$:content</textarea>
		</div>

		<div id="category-div" class="stuffbox">
			<h2 class="heading">categories</h2>
			<ul style="list-style:none;margin:0;padding:0;">
				$for c in model.get_all_categories():
					$if c in checked_categories:	$ checked = 'checked'
					$else: $ checked = None
					<li>
						<input type="checkbox" name="categories" $checked id="category-$c.id" size="45" tabindex="4" value="$c.id"/>
						<label for="category-$c.id">$c.name</label>
					</li>
            </ul>
		</div>
	
		<div id="post-slug" class="stuffbox">
			<h2 class="heading">slug</h2>
			<input type="text" id="slug-text" tabindex="3" size="52" name="slug" value="$slug">
		</div>

		<!--<div id="post-tag" class="stuffbox">
			<h2 class="heading">tag</h2>
			<input type="text" id="tag-text" tabindex="4" size="52" name="tag" value="$#tag">
			<br/>
		</div>-->

		<input type="hidden" name="post_id" value="$post_id" />
		$if post_id:
			$ submit_value = 'update'
		$else:
			$ submit_value = 'publish'
		<input name="submit" type="submit" id="submit" tabindex="5" value=$submit_value />
		</div><!--end of #post-body-->
	</form>
</div><!--end of #post-stuff-->

<script language="javascript" type="text/javascript" src="/static/js/tinymce/tiny_mce.js"></script> 

<script type="text/javascript">
	tinyMCE.init({
        theme : "advanced",
        mode : "textareas",
        plugins : "fullpage",
        theme_advanced_buttons3_add : "fullpage",
		file_browser_callback: 'xwp_file'
     });
     /*
     tinyMCE.init({
				theme : "advanced",
        		mode : "textareas",
        		plugins : "fullpage",
        		theme_advanced_buttons3_add : "fullpage"

				plugins : "safari,pagebreak,save,advhr,advimage,advlink,emotions, inlinepopups,media,directionality,visualchars,nonbreaking,emotions,fullscreen,preview,wordpress,syntaxhl",

		    theme_advanced_buttons1:"bold,italic,strikethrough,|,bullist,numlist,blockquote,|,forecolor,backcolor,|,justifyleft,justifycenter,justifyright,|,link,unlink,image,wp_more,code,preview,|,fullscreen,syntaxhl,wp_adv",
		    theme_advanced_buttons2:"styleselect,formatselect,fontselect,fontsizeselect,underline,justifyfull,forecolor,|,pastetext,pasteword,removeformat,|,media,charmap,emotions,|,outdent,indent,|,undo,redo",
		    theme_advanced_buttons3:"",
		    theme_advanced_buttons4:"",

			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "left",
			theme_advanced_statusbar_location : "bottom",
			theme_advanced_resizing : true,
	        language : "ch",
	        skin :"wp_theme_zh",

			// Example content CSS (should be your site CSS)
			content_css : "/static/js/tinymce/wordpress.css",
			extended_valid_elements : "textarea[cols|rows|disabled|name|readonly|class]",

			file_browser_callback: 'xwp_file'
     } 
     );*/

	function xwp_file(field_name, url, type, win){
	   tinyMCE.activeEditor.windowManager.open({
			file : '/admin/upload', 
			title : 'files',
			width : 420,
			height : 200,
			resizable : "no",
			inline : "yes",
			popup_css: false,
			close_previous : "no"
		}, {
			window : win, //tell the popup window where is the origin window.
			input : field_name //tell the popup window the id of the input element
		});
		return false;
	  }
</script>

