<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>XWP admin</title>
		<link rel="stylesheet" href="/static/admin_style.css" type="text/css" media="screen" />

		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->
		<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
		<script language="javascript" type="text/javascript" src="/static/js/tinymce/tiny_mce.js"></script>

		<script type="text/javascript" src="/static/js/tinymce/tiny_mce_popup.js"></script>
		<script type="text/javascript" src="/static/js/upload.js"></script>
	</head>

	<body>

		<form enctype="multipart/form-data" method="post" action="/admin/upload">
			<input type="file" id="fileToUpload" name="uploadFile" onchange="update_file_selected();" />
			<input type="button" id="btnUpload" value="upload" onclick="upload_file()" />

			<ul style="list-style:none;margin:0;padding:0;">
				<li id="fileName"></li>
				<li id="fileSize"></li>
				<li id="progressNumber"></li>
			</ul>
		</form>
	</body>
</html>

