<div id="sidebar">
	<div id="comments">
		<h2 class="heading">Recent comments</h2>
		$ comments = model.get_comments(limit=10)
		$if comments:
			<ul>
			<!--TODO use excerpt, and show the author,and show hyperlink.-->
				$for comment in comments:
					<li>$:comment.content</li>
			</ul>
		$else:
			<p>None</p>
	</div>
	<div id="categories">
		<h2 class="heading">Categorys</h2>
		$ categories = model.get_all_categories()
		$if categories:
			<ul>
				<!--TODO how to show parent? 
					and you should add hyperlink to it-->
					$for category in categories:
						<li>$category.name</li>
			</ul>
		$else:
			<p>None</p>
	</div>
	<!--
	<div id="blogroll">
		<h2 class="heading">Blog roll</h2>
		<ul>
			<li>blog roll 1</li>
			<li>blog roll 2</li>
			<li>blog roll 3</li>
		</ul>
	</div>-->
</div>

